@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* HOME CSS */
.main {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.main img {
  position: absolute;
  z-index: 999 !important;
  background: red;
}
/* NAVBAR CSS */
.nav {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.left h1 {
  text-transform: capitalize;
  font-size: 3rem;
  font-family: "Lobster", sans-serif;
  background: -webkit-linear-gradient(#eee, #ae0ad7, #230f37);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 2px #d4d2d2);
  cursor: pointer;
}
.left h1:hover {
  background: -webkit-linear-gradient(#eee, #270550, #f72307);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 2px #d4d2d2);
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  width: 25rem;
  height: 26px;
  outline: none;
  border: none;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;
}
.right div {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  font-family: "Playfair Display", serif;
}
.right div:hover {
  color: #ffee00;
  height: 10px;
  border-bottom: 3px solid rgb(19, 19, 43);
  border-radius: 20px;
  font-weight: 800;
}

/* POPULAR SLIDER CSS */
.slider-container {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  background: url(https://www.themealdb.com/images/media/meals/ustsqw1468250014.jpg);
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12rem 6rem;
  perspective: 800px;
}
.slider img {
  width: 250px;
  height: 15rem;
  border-radius: 5%;
  transition: transform 0.3s ease;
  border: 2px solid rgb(33, 33, 56);
}
.slider img:hover {
  transform: translateZ(100px);
}
/* TRENDING SLIDER CSS */
.min-slider-container {
  height: 30vh;
  width: 99%;
  margin: 20px auto;
  overflow-x: hidden;
}
.min-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 25vh;
  margin: 1rem 4rem;
  perspective: 800px;
}
.min-slider img {
  width: 160px;
  height: 10rem;
  border-radius: 5%;
  transition: transform 0.3s ease;
  border: 2px solid rgb(33, 33, 56);
}
.min-slider img:hover {
  transform: translateZ(100px);
}
/* RecipiId page */
.mealDetail {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  width: 100%;
  height: 45vh;
}
.mealDetail h1 {
  text-transform: uppercase;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.flex {
  display: inline-flex;
  width: 100%;
  height: 45vh;
}

.img {
  width: 50%;
  height: 45vh;
  padding: 10px;
  perspective: 800px;
}

.img img {
  margin-top: -2rem;
  width: 80%;
  height: 45vh;
  border-radius: 2%;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.img img:hover {
  transform: translateZ(100px);
  box-shadow: 4px 5px 10px black;
}
.detailsData {
  width: 100%;
  padding: 20px;
  height: 50vh;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
}
.content {
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btns .btn {
  width: 100px;
  height: 40px;
  padding: 3px;
  font-size: 1rem;
  font-weight: bold;
  background-color: yellow;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 10px black;
}
.link {
  text-decoration: none;
}
.ingredient {
  display: inline-flex;
  padding: 10px;
  gap: 1rem;
}
.ingredient p {
  width: 240px;
  text-align: justify;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.inst p {
  padding: 10px;
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  cursor: pointer;
  font-family: monospace;
}
/* Country Category Css */
.country-category {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
}
.country-category-content {
  text-align: center;
}
.cont-cate-img {
  perspective: 800px;
}
.country-category-content img {
  width: 15rem;
  border-radius: 5%;
  border: 2px solid rgb(34, 34, 64);
  transition: transform 0.3s ease;
}
.country-category-content img:hover {
  transform: translateZ(100px);
  border: 2px solid purple;
}
@media screen and (max-width: 1400px) {
  .mealDetail {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .img img {
    margin: 0 2rem;
    width: 300px;
    height: 40vh;
  }
}
@media screen and (max-width: 1200px) {
  .nav {
    display: flex;
  }

  .left {
    width: 20%;
  }

  .right {
    width: 15%;
    margin-right: 10rem;
  }
  .search input {
    width: 60%;
    height: 26px;
    margin-right: 20rem;
  }
  .slider {
    margin: 12rem 6rem;
  }
  .slider img {
    width: 250px;
    height: 15rem;
  }
  .slider-container {
    height: 53vh;
  }
  .min-slider-container {
    height: 30vh;
  }
  .min-slider {
    height: 25vh;
    margin: 1rem 4rem;
    perspective: 600px;
  }
  .min-slider img {
    width: 180px;
    height: 10rem;
  }
  .min-slider img:hover {
    transform: translateZ(50px);
  }
}
@media screen and (max-width: 1000px) {
  .min-slider-container {
    height: 30vh;
  }
  .min-slider img {
    margin-top: 65px;
    width: 150px;
    height: 9rem;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    display: flex;
  }

  .left {
    width: 20%;
  }

  .right {
    display: none;
  }
  .search input {
    width: 60%;
    height: 26px;
    margin-right: 20rem;
  }
  .slider-container {
    height: 50vh;
  }
  .slider {
    margin: 12rem 6rem;
  }
  .slider img {
    width: 200px;
    height: 12rem;
  }
  .min-slider-container {
    margin-top: 10rem;
    height: 15vh;
  }
  .min-slider {
    height: 4vh;
    margin: 0rem 4rem;
    perspective: 500px;
  }
  .min-slider img {
    width: 100px;
    height: 5rem;
  }
  .min-slider img:hover {
    transform: translateZ(20px);
  }
  .mealDetail {
    height: 50vh;
    overflow-x: hidden;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 60vh;
  }
  .img img {
    margin: 0 auto;
    width: 400px;
    height: 50vh;
  }
  .content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .ingredient {
    gap: 1.6rem;
  }
  .ingredient p {
    width: 63px;
    font-size: 15px;
  }
  .inst {
    width: 500px;
    height: 40vh;
  }
}
@media screen and (max-width: 700px) {
  .left {
    width: 30%;
  }
  .search input {
    margin-right: 8rem;
  }
  .slider-container {
    height: 30vh;
  }
  .slider {
    margin: 6rem 3rem;
    perspective: 600px;
  }
  .slider img {
    width: 130px;
    height: 8rem;
  }
  .slider img:hover {
    transform: translateZ(50px);
  }
  .min-slider-container {
    width: 99%;
    height: 30vh;
  }
  .min-slider img {
    margin-top: 8rem;
    width: 80px;
    height: 5rem;
  }
  .mealDetail {
    height: 35vh;
    overflow-x: hidden;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 60vh;
  }
  .img img {
    margin: 0rem -5rem;
    width: 300px;
    height: 40vh;
  }
  .content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .ingredient {
    gap: 2rem;
  }
  .ingredient p {
    width: 63px;
    font-size: 15px;
  }
  .inst {
    width: 400px;
    height: 40vh;
  }
}
